* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: lightcoral;
  color: #fff;
}

.game {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.title {
  margin-bottom: 3rem;
  font-size: 4rem;
}

.score {
  display: flex;
  width: 30vw;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.p-count,
.c-count {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 1rem;
}

.options {
  display: flex;
  width: 50vw;
  justify-content: space-evenly;
  margin-top: 2rem;
}

.rock,
.scissor,
.paper {
  padding: 0.8rem;
  width: 100px;
  border-radius: 10px;
  background-color: lightblue;
  outline: none;
  border: none;
  cursor: pointer;
  color: black;
}

.move {
  font-size: 2rem;
  font-weight: bold;
}

.reload {
  margin-top: 2rem;
  padding: 1rem;
  background-color: lightblue;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.result {
  margin-top: 20px;
  font-size: 1.2rem;
}

@media screen and (max-width: 612px) {
  .title {
    text-align: center;
  }

  .score {
    width: 100vw;
  }

  .options {
    width: 100vw;
  }
}
